.search-box img {
    width: 24px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.send-button-container {
    display: flex;
    align-items: center;
}

.bottom-info {
    font-size: 11px;
    margin: 12px;
    text-align: center;
    font-weight: 300;
}
.input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    background-color: #f6f5f5;
    z-index: 100;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 60%;
    margin: 0 auto;
    background-color: #ebeaff;
    padding: 8px 20px;
    border-radius: 50px;
}

@media screen and (max-width: 767px) {
    .input-container {
        padding: 8px 0;
    }

    .search-box {
        width: 90%;
        padding: 6px 15px;
    }

    .search-box input {
        font-size: 16px;
        padding: 6px;
    }

    .bottom-info {
        font-size: 9px;
        margin: 8px 0;
    }
}
