.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #f6f5f5;
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
    width: 100%;
}

.nav p {
    font-weight: 800;
}

.main .nav img {
    width: 35px;
    border-radius: 50%;
}
.main-container {
    max-width: 900px;
    margin: auto;
}

.main .greet {
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 700;
    padding: 20px;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #8b5cf6 0%, #6366f1 100%);
    -webkit-background-clip: text; /*gradient will fill the text and not the whole container */
    -webkit-text-fill-color: transparent; /*makes text color transparent to show the gradient */
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #ebeaff;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img {
    width: 24px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.main .bottom-info {
    font-size: 11px;
    margin: 15px;
    text-align: center;
    font-weight: 300;
}
