.main {
    flex: 1;
    min-height: 75dvh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f6f5f5;
}

.main-container {
    max-width: 900px;
    margin: auto;
}

.main .greet {
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 700;
    padding: 20px;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #8b5cf6 0%, #6366f1 100%);
    -webkit-background-clip: text; /*gradient will fill the text and not the whole container */
    -webkit-text-fill-color: transparent; /*makes text color transparent to show the gradient */
}

@media screen and (max-width: 767px) {
    .main .greet {
        margin: 50px 0px;
        font-size: 36px;
        color: #c4c7c5;
        font-weight: 700;
        padding: 30px;
    }
}
